@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-image: radial-gradient(ellipse, #385300, #212900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-container {
  padding-top: 20px 0;
  background-color: #bef227;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 600px;
}

.button-container {
  display: flex;
  background-color: #1d2507;
  color: white;
  user-select: none;
  gap: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 40px 20px;
  cursor: pointer;
}

.disabled {
  background-color: #1d2021;
  opacity: 0.3;
}

.title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding-top: 50px;
}

.count {
  color: #1d2507;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.btn-reset {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.4s;
}

.btn-reset:hover,
.btn-reset:focus {
  opacity: 0.5;
}

.btn-icon {
  color: #bef227;
  height: 30px;
  width: 30px;
}

.btn-reset-icon {
  height: 50px;
  width: 50px;
}

@media (max-width: 767px) {
  .card-container {
    padding-top: 10px 0;
    background-color: #bef227;
    box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding: 20px 10px;
  }
  .title {
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 50px;
  }
  .count {
    font-size: 50px;
  }
}
